.foot {
    padding:0px;
    text-align:center;
    height:20px;
    font-family: "Cooper Std Black";
    background: brown;
    color:white;
}

.foot a {
    color: black;
}

.words {
    font-family: "Cooper Std Black";
    font-size: 15px;
    color: orange;
}

.nav a:hover {
    color:red;
}

pre {
    margin: 0px;
    padding: 0px;
    border:0;
    background: transparent;
}

p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
