.foot {
    padding:0px;
    margin: 0;
    background:brown;
    font-size:12px;
}

.title {
    font-size: 25px;
    font-color: black;
    font-style: bold;
}

a:hover {
    text-decoration:none;
    color:red;
}

pre {
    margin: 0px;
    padding: 0px;
    border:0;
    background: transparent;
}
