.pictureBox {
    height: 200px; width: 950px;
    background: red;
    margin: 0px auto;
    padding: 0px;
}

.footerWrapper {
    background-image:url(back.jpg);
    padding: 20px 0;
    margin: 0px auto;
    color: #FFFFFF; 
   
}

	

.context {
    height: 1000px;
    width: 800px;
    margin: 5px auto;
    padding: 0px;
    margin: 10px 12% 10px 15%;
    padding: 0;
}

.context {
    height: 800px;
    width: 800px;
    margin: 10px 12% 0 20%;
    padding: 0;
    background: blue;
}

.wrapper {
    height: 50px;
    background: black;
    padding: 0px;
}

.menubar { 
    margin: 20px auto;
    padding:0px;
}

.nav {
    width: 986px;
    margin: auto;
    float: none;
}

.menubar {
    margin: 20px auto;
    padding:0;
}
.nav{
    width:986px;
    margin:auto;
    float:none;
}

.container {
    margin-top: 100px;
    max-width: 50em;
}

.caret_left {
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-left: 4px solid black;
    border-bottom: 4px solid transparent;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:0px;
    border-radius:0 0 4px 4px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}

.title {
    font-family: "Cooper Std Black";
    font-size: 14px; 
    color:#FF0000;
     
}
.title:hover {
    font-family: "Cooper Std Black";
    font-size: 14px; 
    a {
	text-decoration: none
	};
    color:#FFFF00;

}
.column{
	width:33%;
	display:inline-block;
	vertical-align:top;
}
.footer{
	width:800px;
	margin:auto;
	text-align:center;
}
.column ul{
	margin:0;
	padding:0;
}