.pictureBox {
    height: 250px;
    background: #6C7A7D;
    margin: 0px auto;
    padding: 0px;
}

.context {
    height: 800px;
    width: 800px;
    margin: 0px auto;
    padding: 0px;
}

.navbar-nav > li > a {
    padding-top: 13.5px;
    padding-bottom: 10px;
}

.footerWrapper {
    border: 1px solid;
    height: 180px;
    margin: 0 auto;
    padding:0;
    background: #8C969B;
}

.footer {
    width: 900px; 
    height: 180px;
    padding: 0px;
	text-align: center;
    margin: auto;
}

.wrapper {
    height: 50px;
    background: #B3BDBF;
    border-style: double;
    margin: 0px auto;
    padding: 0px;
}

.menubar { 
    margin: 0px auto;
    padding:0px;
}

.nav {
    width: 986px;
    margin:auto;
    float: none;
}

.nav a {
    color: black;
}

.container {
    margin-top: 100px;
    max-width: 50em;
}

.caret_left {
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-left: 4px solid black;
    border-bottom: 4px solid transparent;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:0px;
    border-radius:0 0 4px 4px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}

.title {
    margin-top: 5px;
    font-family: "微軟正黑體" "Verdana";
    font-size: 14px; 
    color: #181C1D;
}

.title a {
    font-family: "微軟正黑體" "Verdana";
    font-size: 14px; 
    color: #181C1D;
}

.title:hover a{
    font-family: "微軟正黑體" "Verdana";
    font-size: 16px; 
    text-decoration: none;
    color: #1C2225;
}

.column {
	width:33%;
	display:inline-block;
    margin-top: 15px;
	vertical-align:top;
}

.column ul {
	margin:0;
	padding:0;
}

.dropdown-menu > li > a:hover {
    background: darkgray;
} 

.dropdown-menu {
    background: #E9E4E4; 
}

.nav .open > a:hover, .nav .open > a {
    background: darkgray;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: darkgray;
    text-decoration: none;
}
